# Application
dist/
typings/

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Node
node_modules

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.history
